* {
    padding: 0;
    margin: 0;
}

table{
    width: 100%;
}

#tablazatcim{
    color: red;
    background-color: royalblue;
}

.zoldhatter{
    background-color: greenyellow;
}
/*
table td {
    color:aqua;
}
*/
table > tbody {
    color:aqua;
}

td:first-child{
    background-color: pink;
}

td:last-child{
    background-color: plum;
}

td:nth-child(2n){
    color: brown;
}