body{
    background-color: #E6AC00;
    color:black;
}
a{
    color:#663300;
}
p{
    text-align: justify;
    font-size: 14pt;
}
img{
    width:300px;
    margin: 10px;
    border: 3px solid brown;
}